<div style="text-align:center">
  <h2>
    {{name}} Welcome to All That Weather!
  </h2>

  <button (click)="signOut()">Sign Out</button>

  <app-city-search (update) = "addCity($event)"></app-city-search>

  <div *ngIf="weather$">
    <div *ngFor="let i of weather$">

      <mat-card class="example-card">

        <div *ngFor="let w of i.weather">
          <mat-card-header>
            <img mat-card-avatar class="example-header-image" src="http://openweathermap.org/img/w/{{w.icon}}.png">
            <mat-card-title>{{i.name}}: {{i.main.temp}} {{unit === 'metric' ? 'C' : 'F'}}</mat-card-title>
            <mat-card-subtitle>{{w.description}}</mat-card-subtitle>
            <mat-card-subtitle>{{w.description}}</mat-card-subtitle>
          </mat-card-header>
        </div>

        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="10:1">
            <mat-grid-tile>Humidity </mat-grid-tile>
            <mat-grid-tile>{{i.main.humidity}} %</mat-grid-tile>
            <mat-grid-tile>Clouds</mat-grid-tile>
            <mat-grid-tile>{{i.clouds.all}} %</mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>

        <mat-card-actions>
          <a href="https://www.google.com/maps/search/?api=1&query={{i.coord.lat}},{{i.coord.lon}}" target="_blank" mat-button>View location on map</a>
        </mat-card-actions>

      </mat-card>

    </div>
  </div>
</div>
