<div class="row columns">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="City" aria-label="City" matInput [formControl]="cityFormControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let city of filteredCities | async" [value]="city">
          <img style="vertical-align:middle;" aria-hidden src="https://openweathermap.org/images/flags/{{city.country | lowercase}}.png" height="25" />
          <span>{{ city.name }}</span> |
          <small>Lat: {{city.coord.lat}} - Lon: {{city.coord.lon}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-button (click) = 'addItem()'>Add</button>
  </form>
</div>
